html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

mat-horizontal-stepper.mat-stepper-horizontal {
  background: #faf9fd;
}
