.registration-stepper-wrapper {
  width: 60%;
  padding: 60px;
  margin: 60px auto 0;
  box-sizing: border-box;
  box-shadow: -1px 0px 7px 0px #ccc;
  background: #faf9fd;

  @media (max-width: 768px) {
    width: 96%;
    padding: 20px;
  }
}
